body {
  background-color: #f7f7f7;
}

.resize-column {
  position: absolute;
  top: 0;
  height: 100%;
  display: block;
  width: 6px;
  cursor: col-resize;
}

#commit-graph-table-container {
  position: relative;
}
.commit-graph {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

.commit-entry {
  padding-left: var(--svg-width);
}
.commit-entry span.commit-description {
  display: flex;
}
.commit-entry span.commit-description .commit-entry-text {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}
.commit-entry span.commit-description .commit-head-dot,
.commit-entry span.commit-description .git-ref-tag {
  flex-shrink: 0;
}
.commit-entry:hover {
  background-color: rgba(128, 128, 128, 0.15);
}

.commit-entry .commit-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
}
.commit-entry .commit-description {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  padding-bottom: 4px;
}
.commit-entry .commit-avatar {
  position: relative;
  height: 16px;
  min-width: 20px;
}
.commit-entry .commit-avatar-body {
  display: flex;
  background: inherit;
  position: absolute;
}
.commit-entry .commit-avatar-img {
  z-index: 1;
  box-shadow: none;
  width: 16px;
  height: 16px;
}
.commit-entry .commit-byline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.commit-entry .commit-byline .commit-attribution-component {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.git-ref-tag > svg {
  background-color: rgb(154, 48, 173);
  fill: #f7f7f7;
  width: 14px;
  height: 14px;
  padding: 2px;
  vertical-align: top;
}
.git-ref-tag {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-top: 2px;
  margin-right: 5px;
  background-color: rgba(128, 128, 128, 0.15);
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.75);
  vertical-align: top;
  font-size: 12px;
  cursor: default;
  overflow: hidden;
}
.git-ref-name,
.git-ref-head-remote {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
}
