name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./actions/setup-node-project
        with:
          historyForDiff: true
      - name: Format Check
        run: pnpm format:check
      - name: Lint
        run: pnpm lint
      - name: Compile
        run: pnpm compile -- --since=BASE_BRANCH
